h1
  font-size 12px

div
  vertical-align top
  overflow scroll-y
  padding 10px

p
  margin 0

#roomContainer
  float left
#roomname
  width 100px
#userContainer
  float left
  width 100px
  border-right 1px solid black
  height 300px

#conversationContainer
  float left
  width 300px
  height 250px

#buttons
  margin 20px

#roomContainer
  display block
  height 250px
  border-right 1px solid black
  text-align center
  width 100px

#status
  color #D00
  font-size 14px