.gitignore
# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
ios/QRConnect.xcodeproj/project.xcworkspace/xcuserdata/*
xcuserdata/*
profile
*.moved-aside
DerivedData
.idea/
.env/
*.egg-info
reports/
nohup.out
.DS_Store

# Node
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

# Stylus
public/stylesheets/