!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    - each s in scripts
      script(src=s)

  body!= body
    #buttons
      input#roomname
      button#createRoom Create Room
    b You are currently in&nbsp;
      span#label Lobby
    #status
    #content
      #roomContainer
        b Rooms
        #rooms
      #userContainer
        b USERS
        #users
      #conversationContainer
        #conversation
        input#data
        button#datasend Send
        button#leaveRoom Leave
