!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    - each s in scripts
      script(src=s)

  body!= body
    div#userContainer
      b USERS
      #users
    div#conversationContainer
      #conversation
      input#data
      input#datasend(type='button', value='send')
