h1 {
  font-size: 12px;
}
#userContainer {
  float: left;
  width: 100px;
  border-right: 1px solid #000;
  height: 300px;
  padding: 10px;
  overflow: scroll-y;
}
#conversationContainer {
  float: left;
  width: 300px;
  height: 250px;
  overflow: scroll-y;
  padding: 10px;
}
